# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Celery
celery-worker.pid
celery-beat.pid
celery-worker.log
celery-beat.log

# Environment / secrets
.env
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
